village_locations.json
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
logs/
ops.json
permissions.yml
spigot.yml
usercache.json
village_location.json
whitelist.json
world/
world_nether/
world_the_end/
plugins/PluginMetrics/
server.properties
spigot-1.13.2.jar
